@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

/******************** general ****************************/
body{
  font-family: 'Roboto', sans-serif;
  color:#eee ;
  background-image: url(/img/donate-background.jpg);
  background-size: cover;
  font-weight: bold;
}

main{
  margin-top: 60px;
}

/******************** header ***************************/
header{
  background-color:rgba(96, 96, 96,.8) ;
  height: 80px;
  text-align: center;
}

header h1{
  font-size: 30px;
  padding-top: 20px;
}

/****************************** main sections *************************/

section{
  background-color: rgba(96, 96, 96,.8);
  display: inline-block;
  vertical-align: top;
  border-radius: 8px;
  margin-left: 50px;
}
form{
  padding: 15px;
}

#form-sec{
  width: 40%;
  height:100px;
}

#results{
  width: 50%;
}

#form-sec label{
  text-align: left;
  margin-right: 40%;
  padding: 10px;
}

#name{
  margin-left: 1.08%;
    width: 201px;
}

#submit{
  margin-left: 60.2%;
  width: 210px;
  background-color: black;
  color:#eee ;
  font-weight: bold;
}

#select{
  margin-left: 6.5%;
  width: 210px;
}

table,tr,th,td{
  border: 3px double #eee;
  padding: 5px;
}

table{
  width: 100%;
  margin: 30px 5px;
}

#results p{
  text-align: center;
  padding: 20px;
}

/****************** footer ***************************/

footer{
  background-color:rgba(96, 96, 96,.8) ;
  height: 70px;
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
}

footer p{
  font-size: 20px;
  padding-top: 20px;
}

