/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
font-family: 'Roboto', sans-serif;

rgba(96, 96, 96,.8);
#eee */

#form-sec{
  display: inline-block;
  width: 40%;
  background-color: rgba(96, 96, 96,.8);
}

#results{
  display: inline-block;
  width: 50%;
  background-color: rgba(96, 96, 96,.8);
}

table,tr,th{
  border: 1px solid black;
  padding: 5px;
}

table{
  border-collapse: collapse;
}